.containerBro img{
    width: 20em;
    height: 20em;
    background-color: white;
    border-radius: 45px;
    margin-top: 5em;

}

.container h1{
    font-size: 3em;
}

.containerSon{
    margin-top: 7em;
}

.containerSon p{
    margin-top: 1em;
    font-size: 25px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(41, 133, 214);
    color: white;
    border-radius: 20px;
    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-3px);
    }
  }

.start{
    margin-top: 6em;
    color: black;
    width: 12em;
    height: 3em;
    border-radius: 1em;
    font-size: 25px;
    margin-bottom: 2em;
    background-color: white;
}

.linki{
    text-decoration: none;
    color: white;
}
.linki:hover{
    color: black;
}
.start:hover{
    background-color: black;
    color: white;
    animation: bounce 1s;

}

@media (max-width: 391px) {
    .container{
        height: 50em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .containerBro img{
        width: 10em;
        height: 10em;
        border-radius: 23px;
        margin-top: -18em;
        margin-bottom: 5em;
    }

    .buttonContainer{
        margin-top: 8em;
    }

    .containerSon h1{
        font-size: 2em;
    }

    .containerSon p{
        font-size: 17px;
    }

    .start{
        width: 8em;
        height: 2em;
        font-size: 15px;
    }

    
}
@media (min-width: 391px) and (max-width: 768px) {
    .container{
        height: 50em;
    }
}