.buttonSound{
    width: 2.2em;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-right: 5em;
    margin-bottom: 5px;   
    
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.container h1{
    color: white;
}
.p{
    color: white;
}
.p strong{
    color: black;
}

.start{
    color: black;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 5px;
}


.linki{
    text-decoration: none;
    color: white;
}
.linki:hover{
    color: black;
}
.start:hover{
    background-color: black;
    color: white;
    animation: bounce 1s;

}